version: 2
jobs:
  build:
    working_directory: /app
    docker:
      - image: docker
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: test command
          command: |
            echo "test cicd"
            ls -l